@model IEnumerable<Exercise_1.Models.Service>

@{
    ViewData["Title"] = "Tjänster";
}

<div class="container">
    <div class="text-center mb-3">
        <h1 class="display-4">Våra tjänster</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var service in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@service.Title</h5>
                    <p class="card-text">@service.Description</p>
                </div>
            </div>
        </div>
    }
    </div>
</div>