@model _03_ConsumeWebApi.AspNetCoreMVC.Models.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Index" method="post">
        <div class="mb-3">
            <input asp-for="ProductForm.Name" placeholder="Produktens namn" class="form-control" />
        </div>
        <div class="mb-3">
            <input asp-for="ProductForm.Description" placeholder="Produktens beskrivning" class="form-control" />
        </div>
        <div class="mb-3">
            <input asp-for="ProductForm.Price" placeholder="Produktens pris" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Skapa</button>
    </form>
</div>

<div class="mt-3">
@foreach(var p in Model.Products)
{
    <div class="mb-3">
        <div><strong>@p.Name</strong></div>
        <div class="text-muted">@p.Description</div>
    </div>
}
</div>


