<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/4331891/pexels-photo-4331891.jpeg?cs=srgb&dl=pexels-matilde-mendes-4331891.jpg&fm=jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?cs=srgb&dl=pexels-oleg-magni-2058128.jpg&fm=jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>