<ul class="list-group">

@if(items == null)
    {
       <p>loading</p> 
    }
    else
    {
        @foreach(var item in items)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.Name
                <span class="badge bg-primary rounded-pill">14</span>
            </li>       
        }       
    }




</ul>
@code {
    private CategoryModel[] items;
    private System.Threading.Timer timer;

    protected override async Task OnInitializedAsync()
    {
        timer = new System.Threading.Timer(async (object stateInfo) =>
		{
			items = await Http.GetFromJsonAsync<CategoryModel[]>("https://localhost:7253/api/categories");
			
            StateHasChanged(); // MUST CALL StateHasChanged() BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
		
        }, new System.Threading.AutoResetEvent(false), 1000, 1000);



        
    }

}
